* {
  font-family: "Edu+TAS+Beginner", serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.primaria {
  background: rgb(221, 116, 249);
  background: linear-gradient(180deg, rgb(221, 116, 249) 0%, rgb(192, 212, 235) 25%, rgba(142, 148, 244, 0.9332107843) 50%, rgb(192, 212, 235) 75%, rgb(221, 116, 249) 100%);
}

.inicio__2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inicio__2__image {
  width: 10%;
  height: 10%;
}
.inicio__2__title {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 4em;
}
.inicio__navegacion {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 24px;
}

.centro__subtitle {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 2em;
  padding: 16px;
  margin: 8px;
}
.centro__subtitle2 {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 34px;
  padding: 16px;
  margin: 8px;
}
.centro__descripcion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.centro__descripcion__video {
  background-size: center;
  width: 100%;
  height: 520px;
  margin: 0px;
}
.centro__descripcion__text {
  display: block;
}
.centro__descripcion__text__p {
  text-align: justify;
  padding: 16px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.3019607843);
}
.centro__descripcion__media {
  text-align: justify;
  padding: 16px;
  margin: 8px;
}
.centro__about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.centro__about__text {
  text-align: justify;
  padding: 16px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.3019607843);
}

.pie__navegacion2 {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 24px;
}
.pie__2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pie__2__item {
  width: 50%;
  height: 50%;
  text-align: right;
}

/*Media Queries de Desktop a Mobile*/
/*Medida minimo-maximo especifico */
/*Desktop*/
@media (max-width: 1920px) and (min-width: 1481px) {
  .centro__descripcion__elementos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .centro__descripcion__video__2 {
    background-size: center;
    width: 100%;
    height: 480px;
    padding: 2px;
    margin: 0px;
  }
}
/*Desktop*/
@media (max-width: 1480px) and (min-width: 1201px) {
  .centro__descripcion__elementos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .centro__descripcion__video__2 {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 2px;
    margin: 0px;
  }
}
/* Tablet2*/
@media (max-width: 1200px) and (min-width: 768px) {
  * {
    font-family: "Edu+TAS+Beginner", serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
  }
  .primaria {
    background: rgb(86, 121, 9);
    background: linear-gradient(90deg, rgba(86, 121, 9, 0.6418942577) 0%, rgba(165, 44, 166, 0.7371323529) 37%, rgba(0, 212, 255, 0.4766281513) 68%, rgba(86, 121, 9, 0.7147233894) 100%);
  }
  .inicio__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .inicio__2__imagen {
    width: 10%;
    height: 10%;
  }
  .inicio__2__title {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
  .inicio__navegacion {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1em;
  }
  ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    font-weight: 900;
    font-size: 1em;
  }
  ul li a {
    text-decoration: none;
  }
  .centro__subtitle {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
  }
  .centro__subtitle2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
  }
  .centro__descripcion {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__descripcion__elementos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .centro__descripcion__video {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 0px;
    margin: 0px;
  }
  .centro__descripcion__video__2 {
    background-size: center;
    width: 100%;
    height: 240px;
    padding: 5px;
    margin: 0px;
  }
  .centro__descripcion__media {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .centro__descripcion__text {
    text-align: justify;
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .centro__carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: stretch;
  }
  .centro__carrusel__elemento {
    flex: 1 0 auto;
    margin: 20px;
    background-color: aliceblue;
    width: 480px;
    height: 100%;
  }
  .centro__about {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__about__media {
    width: 100%;
    height: 100%;
  }
  .centro__about__text {
    text-align: justify;
    padding: 5px;
    margin: 5px;
  }
  .pie__navegacion2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 12px;
  }
  .pie__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    margin: 0px;
  }
  .pie__2__item {
    width: 35%;
    height: 35%;
    text-align: right;
    margin-right: 5px;
  }
}
/*Tablet*/
@media (max-width: 767px) and (min-width: 420px) {
  * {
    font-family: "Edu+TAS+Beginner", serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
  }
  .primaria {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(158, 82, 179) 50%, rgb(252, 70, 107) 100%);
  }
  .inicio__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .inicio__2__imagen {
    width: 10%;
    height: 10%;
  }
  .inicio__2__title {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
  }
  .inicio__navegacion {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1em;
  }
  ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    font-weight: 900;
    font-size: 1em;
  }
  ul li a {
    text-decoration: none;
  }
  .centro__subtitle {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 28px;
    padding: 5px;
    margin: 5px;
  }
  .centro__subtitle2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
  }
  .centro__descripcion {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__descripcion__video {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 5px;
    margin: 0px;
  }
  .centro__descripcion__video__2 {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 5px;
    margin: 0px;
  }
  .centro__descripcion__media {
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 400px;
  }
  .centro__descripcion__text {
    text-align: justify;
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .centro__carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: stretch;
  }
  .centro__carrusel__elemento {
    flex: 1 0 auto;
    margin: 20px;
    background-color: aliceblue;
    width: 480px;
    height: 100%;
  }
  .centro__about {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__about__media {
    width: 100%;
    height: 100%;
  }
  .centro__about__text {
    text-align: justify;
    padding: 5px;
    margin: 5px;
  }
  .pie__navegacion2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 12px;
  }
  .pie__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    margin: 0px;
  }
  .pie__2__item {
    width: 35%;
    height: 35%;
    text-align: right;
    margin-right: 5px;
  }
}
/*Mobile*/
@media (max-width: 419px) and (min-width: 320px) {
  * {
    font-family: "Edu+TAS+Beginner", serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
  }
  .primaria {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(188, 122, 190) 49%, rgba(253, 45, 175, 0.3337710084) 100%);
  }
  .inicio__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .inicio__2__imagen {
    width: 10%;
    height: 10%;
  }
  .inicio__2__title {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
  }
  .inicio__navegacion {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 30px;
  }
  ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 1em;
  }
  ul li a {
    text-decoration: none;
  }
  .centro__subtitle {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 27px;
    padding: 5px;
    margin: 5px;
  }
  .centro__subtitle2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
  }
  .centro__descripcion {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__descripcion__video {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 5px;
    margin: 0px;
  }
  .centro__descripcion__video__2 {
    background-size: center;
    width: 100%;
    height: 320px;
    padding: 5px;
    margin: 0px;
  }
  .centro__descripcion__media {
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 400px;
  }
  .centro__descripcion__text {
    text-align: justify;
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .centro__carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: stretch;
  }
  .centro__carrusel__elemento {
    flex: 1 0 auto;
    margin: 0;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
  }
  .centro__about {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .centro__about__media {
    width: 100%;
    height: 100%;
  }
  .centro__about__text {
    text-align: justify;
    padding: 5px;
    margin: 5px;
  }
  .pie__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    margin: 0px;
  }
  .pie__2__item {
    width: 35%;
    height: 35%;
    text-align: right;
    margin-right: 5px;
  }
  .pie__navegacion2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
