.centro {
    grid-area: main;

    &__subtitle {
        @include text-font-family;
        font-size: 2em;
        @include p-m (16px, 16px);
    }
    &__subtitle2 {
        @include text-font-family;
        font-size: 34px;
        @include p-m (16px, 16px);
    }
    &__descripcion {
        @include display-align-justify;

        &__video {
            background-size: center;
            width: 100%;
            height: 520px;
            margin: 2px;
        }

        &__text {
            display: block;

            &__p {
                text-align: justify;
                @include p-m (16px, 16px);
                background-color: #ffffff4d
            }
        }
        &__media {
            text-align: justify;
            @include p-m (16px, 16px)
        }
    }
    // &__carrusel {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     overflow: scroll;
    //     justify-content: stretch;

    //     &__elemento {
    //         flex: 1 0 auto;
    //         margin: 0;
    //         background-color: aliceblue;
    //         width: 700px;
    //         height: 400px;
    //     }
    // }
    &__about {
        @include display-align-justify;

        &__text {
            text-align: justify;
            @include p-m (16px, 16px);
            background-color: #ffffff4d
        }
    }
}