.pie {
    grid-area: footer;
}
.pie2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item {
    width: 100px;
    height: 100px;
    text-align: right;
}
.navegacion2 {
    text-align: center;
    font-size: 24px;font-family:'Lora', serif;
}