.pie {
    grid-area: footer;

    &__navegacion2 {
        @include text-font-family;
        font-size: 24px;
    }
    &__2 {
        @include display-align-justify;

        &__item {
            @include width-height;
            text-align: right;
        }
    }
}