/*GRILLA */
.grid_container{
    display: grid;
    grid-template-columns: 500px 840px;
    grid-template-rows:250px auto 250px ;
    grid-template-areas: 
 " header header "
 " main main "   
 " footer footer";
}
