/*Media Queries de Desktop a Mobile*/
/*Medida minimo-maximo especifico */
/*Desktop*/
@media (max-width: 1920px) and (min-width: 1481px) {
    .centro {
        &__descripcion {
            
            &__elementos {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            &__video {
                &__2 {
                    background-size: center;
                    @include w-h (100%, 480px);
                    @include p-m (2px, 0px);
                }
            }
        }
    }
}
/*Desktop*/
@media (max-width: 1480px) and (min-width: 1201px) {
    .centro {
        &__descripcion {
            
            &__elementos {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            &__video {
                &__2 {
                    background-size: center;
                    @include w-h (100%, 320px);
                    @include p-m (2px, 0px);
                }
            }
        }
    }
}
/* Tablet2*/
@media (max-width: 1200px) and (min-width: 768px) {
    * {
        font-family:'Edu+TAS+Beginner', serif;
        font-size: 18px;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .primaria {
        background: rgb(86,121,9);
        background: linear-gradient(90deg, rgba(86,121,9,0.6418942577030813) 0%, rgba(165,44,166,0.7371323529411764) 37%, rgba(0,212,255,0.4766281512605042) 68%, rgba(86,121,9,0.7147233893557423) 100%);
    }
    .inicio {
        
        &__2 {
            @include display-align-justify;
            width: 100%;

            &__imagen {
                @include w-h (10%, 10%);
            }
            &__title {
                @include text-font-family;
                font-size: 3em;
                @include p-m (5px, 5px);
            }
        }   
        &__navegacion {
            @include text-font-family;
            font-size: 1em;            
        }
    }

    ul li {
        list-style: none;
        display: inline-block;
        @include p-m (12px, 12px);
        font-weight: 900;
        font-size: 1em;
    }
    ul li a { 
        text-decoration: none; 
    }

    .centro {
        
        &__subtitle {
            @include text-font-family;
            font-size: 2em;
            @include p-m (5px, 5px);
        }
        &__subtitle2 {
            @include text-font-family;
            font-size: 25px;
            @include p-m (5px, 5px);
        }
        &__descripcion {
            @include display-align-justify-width;

            &__elementos {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            &__video{
                background-size: center;
                @include w-h (100%, 320px);
                @include p-m (0px, 0px);

                &__2 {
                    background-size: center;
                    @include w-h (100%, 240px);
                    @include p-m (5px, 0px);
                }
            }
            &__media {
                @include p-m (0px, 0px);
                @include w-h (100%,100% );
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 0px);
                @include w-h (100%, 100%);
            }
        }
        &__carrusel {
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            justify-content: stretch;

            &__elemento {
                flex: 1 0 auto;
                margin: 20px;
                background-color: aliceblue;
                @include w-h ( 480px, 100%);
            }
        }
        &__about {
            @include display-align-justify-width;

            &__media {
                @include w-h (100%, 100%);
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 5px);
            }
        }
    }

    .pie {
        
        &__navegacion2 {
            @include text-font-family;
            font-size: 12px;
        }
        &__2 {
            @include display-align-justify;
            width: 100%;
            @include p-m (5px, 0px);

            &__item {
                @include w-h (35%, 35%);
                text-align: right;
                margin-right: 5px;
            }
        }  
    } 
}
/*Tablet*/
@media (max-width: 767px) and (min-width: 420px){
    * {
        font-family:'Edu+TAS+Beginner', serif;
        font-size: 16px;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .primaria {
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(158,82,179,1) 50%, rgba(252,70,107,1) 100%);
    }    
    .inicio {
        
        &__2 {
            @include display-align-justify;
            width: 100%;

            &__imagen {
                @include w-h (10%, 10%);
            }
            &__title {
                @include text-font-family;
                font-size: 2em;
                @include p-m (5px, 5px);
            }
        }   
        &__navegacion {
            @include text-font-family;
            font-size: 1em;            
        }
    }

    ul li {
        list-style: none;
        display: inline-block;
        @include p-m (12px, 12px);
        font-weight: 900;
        font-size: 1em;
    }
    ul li a { 
        text-decoration: none; 
    }

    .centro {
        
        &__subtitle {
            @include text-font-family;
            font-size: 28px;
            @include p-m (5px, 5px);
        }
        &__subtitle2 {
            @include text-font-family;
            font-size: 25px;
            @include p-m (5px, 5px);
        }
        &__descripcion {
            @include display-align-justify-width;

            &__video{
                background-size: center;
                @include w-h (100%, 320px);
                @include p-m (5px, 0px);

                &__2 {
                    background-size: center;
                    @include w-h (100%, 320px);
                    @include p-m (5px, 0px);
                }
            }
            &__media {
                @include p-m (5px, 0px);
                @include w-h (100%,400px );
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 0px);
                @include w-h (100%, 100%);
            }
        }
        &__carrusel {
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            justify-content: stretch;

            &__elemento {
                flex: 1 0 auto;
                margin: 20px;
                background-color: aliceblue;
                @include w-h ( 480px, 100%);
            }
        }
        &__about {
            @include display-align-justify-width;

            &__media {
                @include w-h (100%, 100%);
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 5px);
            }
        }
    }

    .pie {
        
        &__navegacion2 {
            @include text-font-family;
            font-size: 12px;
        }
        &__2 {
            @include display-align-justify;
            width: 100%;
            @include p-m (5px, 0px);

            &__item {
                @include w-h (35%, 35%);
                text-align: right;
                margin-right: 5px;
            }
        }  
    } 
}
/*Mobile*/
@media (max-width: 419px) and (min-width: 320px) {
    * {
        font-family:'Edu+TAS+Beginner', serif;
        font-size: 14px;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .primaria {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(188,122,190,1) 49%, rgba(253,45,175,0.3337710084033614) 100%);
    }
    .inicio {
        
        &__2 {
            @include display-align-justify;
            

            &__imagen {
                @include w-h (10%, 10%);
            }
            &__title {
                @include text-font-family;
                font-size: 2em;
                @include p-m (5px, 5px);
            }
        }
        &__navegacion {
            @include text-font-family;
            font-size: 30px;           
        }
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        @include p-m (10px, 10px);
        font-weight: 900;
        font-size: 1em;
    }
    ul li a { 
        text-decoration: none; 
    }

    .centro {
        
        &__subtitle {
            @include text-font-family;
            font-size: 27px;
            @include p-m (5px, 5px);
        }
        &__subtitle2 {
            @include text-font-family;
            font-size: 25px;
            @include p-m (5px, 5px);
        }
        &__descripcion {
            @include display-align-justify-width;

            &__video{
                background-size: center;
                @include w-h (100%, 320px);
                @include p-m (5px, 0px);

                &__2 {
                    background-size: center;
                    @include w-h (100%, 320px);
                    @include p-m (5px, 0px);
                }
            }
            &__media {
                @include p-m (5px, 0px);
                @include w-h (100%,400px );
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 0px);
                @include w-h (100%, 100%);
            }
        }
        &__carrusel {
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            justify-content: stretch;

            &__elemento {
                flex: 1 0 auto;
                margin: 0;
                background-color: aliceblue;
                @include w-h (100%, 100%);
            }
        }
        &__about {
            @include display-align-justify-width;

            &__media {
                @include w-h (100%, 100%);
            }
            &__text {
                text-align: justify;
                @include p-m (5px, 5px);
            }
        }
    }
    
    .pie {
        
        &__2 {
            @include display-align-justify;
            width: 100%;
            @include p-m (5px, 0px);

            &__item {
                @include w-h (35%, 35%);
                text-align: right;
                margin-right: 5px;
            }
        }
        &__navegacion2 {
            @include text-font-family;
            font-size: 1em;
        }
    }
}