*{
    font-family:'Edu+TAS+Beginner', serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}
.primaria{
    background: rgb(221,116,249);
    background: linear-gradient(180deg, rgba(221,116,249,1) 0%, rgba(192,212,235,1) 25%, rgba(142,148,244,0.9332107843137255) 50%, rgba(192,212,235,1) 75%, rgba(221,116,249,1) 100%);
}